<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div
    class="container-fluid"
    style="padding-left: 5%; padding-right: 5%;">
      <a
      class="navbar-brand"
      href="#">
        <img
        src="../assets/img/logo.png"
        width="300">
      </a>
      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
            class="nav-link"
            routerLink="/order">訂單狀態</a>
          </li>
          <li class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarClientDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
              業務資料
            </a>
            <ul
            class="dropdown-menu"
            aria-labelledby="navbarClientDropdown">
              <li>
                <a
                class="dropdown-item"
                href="/listClient">瀏覽清單</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a
                class="dropdown-item" 
                href="/addClient">新增客戶</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a
                class="dropdown-item" 
                href="/costAnalysis">成本分析</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
            class="nav-link"
            href="#">保養/維修</a>
          </li>
          <li class="nav-item">
            <a
            class="nav-link"
            href="#">品管/測試</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

